.restaurantTitle {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurantTab {
  text-align: center;
  display: flex;
  height: 100px;
  width: 200px;
  align-items: center;
  justify-content: center;
}
